/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.panels-sample-sliding-panels > * {
	width: 320px;
	background-color: #EAEAEA;
	box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}

.onyx-sample-popup {
	font-size: 30px;
	text-align: center;
}
.fittable-sample-box {
	border: 2px solid lightblue;
	padding: 4px;
}
.fittable-sample-b {
	background-color: #F1FFF1;
}
.fittable-sample-mtb {
	margin-top: 3px;
	margin-bottom: 3px;
}
.fittable-sample-mlr {
	margin-left: 6px;
	margin-right: 6px;
}
.fittable-sample-o {
	border-color: orange;
}
.list-sample-pulldown-item {
	border-bottom: 1px solid #0E0E0E;
	padding: 12px 16px;
	background-color: #333333;
	/**/
	font-size: 14px;
	color: white;
}
.list-sample-pulldown-list {
	background: grey;
}